*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    width: 100%;
    height: 600px;
    background-image: url('/img/header_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#main_Menu{
    width: 100%;
    height: 750px;
    padding-top: 200px;
    overflow: hidden;
   
}


#logo{
    width: 70px;
    height: 70px;
    position: relative;
    top: -400px;
    left: 50px;
}

#main_Menu > h4{
    text-align: center;
    height: 50px;
    line-height: 50px;
    width: 100px;
    position: absolute;
    top: 90px;
    left: 35px;
    font-family: 'Indie Flower', cursive;
}

#hinh1 {
    width: 250px;
    height: 280px;
    margin-left: 770px;
    margin-bottom: 10px;
}


#hinh2{
    width: 250px;
    height: 300px;
    margin-left: -30px;
}


#hinh3{
    margin-top: 25px;
    margin-left: 560px;
}


#main_Menu > p{
    width: 680px;
    text-align: center;
    margin-left: 350px;
    margin-top: 25px;
    color: black;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
}

#main_Menu > h1{
    width: 30%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #a8907f;
    font-size: 60px;
    font-family: 'Pacifico', cursive;
    margin-left: 450px;
    margin-top: -350px;
}



#bar_Menu{
    width: 21%;
    height: 560px;
    float: right;
    position: fixed;
    top: 400px;
    right: -283px;
    display: block;
    margin-top: -380px;
    z-index: 999;
}

#bar_Menu ul {
    width: 100%;
    height: 560px;
    background-image: url('/img/bg_main_slider.jpg');
     background-repeat: no-repeat;
    background-size: cover;
    font-family: cursive;
    font-size: 20px;
    list-style-type: none;
    text-align: center;
    color: black; 
}


#Open_Menu {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 100%;
    cursor: pointer;
     display: inline-block;
    z-index: 999;
}

#Close_Menu{
     width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 89%;
/*    right: 100%;*/
    cursor: pointer;
     display: inline-block;
    z-index: 999;
}

#bar_Menu ul li{
   height: 70px;
    line-height: 70px;   
    cursor: pointer;
}

#bar_Menu ul li:hover{
    background-color: coral;
}

#carsourel{
     width: 70%;
     position: relative;
     left: 0px;
     top:-150px;
}
#carsourel > img {
   width: 100%;
    height: 750px;
    position: absolute;
    animation-name: likeshowImage;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

#likeshow1{
    animation-delay: 0;
    z-index: 10;
}

#likeshow2{
    animation-delay: 5s;
    z-index: 9;
}

#likeshow3{
    animation-delay: 10s;
    z-index: 8;
}

#likeshow4{
    animation-delay: 15s;
    z-index: 7;
}


 @keyframes likeshowImage{
    0%{
        opacity: 0;
        }
     
    8.33%{
        opacity: 1;
        }
                
    25%{
        opacity: 1;
                   
        }
                
    33.33%{
            opacity: 0;
        }
              
    100%{
        opacity: 0;
                   
        }
                
}

/* <!-- ****************************** Góc Không Gian ******************************** -->*/
#body_main_content{
    width: 100%;
    height: auto;
    margin-top: 755px;
  
}

#space{
    width: 100%;
    height: 660px;
    background-image: url('/img/bg_main_slider.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#left_col{
    width: 49%;
    height: 100%;
    text-align: center;
    float: left;
}

#right_col{
    width: 49%;
    height: 100%;
    text-align: center;
    float: right;
}

#s1{
   display: inline-block;
    width: 60%;
    margin-top: -120px;
    transition: all 2s ease-in-out;
}

/*
#s1:hover{
    transform: rotateZ(360deg);
}
*/

#s2{
    width: 60%;
    margin-top: 30px;
    transition: all 2s ease-in;
}

/*
#s2:hover{
    transform: rotateZ(360deg);
}
*/

#s3{
   display: inline-block;
    width: 60%;
    margin-top: -120px;
    transition: all 2s linear;
}

/*
#s3:hover{
    transform: rotateZ(360deg);
}
*/

#s4{
    width: 60%;
    margin-top: 50px;
    transition: all 2s ease;
}

/*
#s4:hover{
    transform: rotateZ(360deg);
}
*/


#goc{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url('/img/dia.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 250px;
    left: 45%;
    animation-name: circle;
    animation-duration: 8s;
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out;
}

@keyframes circle{
                0%{transform: rotate(0deg)}
                25%{transform: rotate(90deg)}
                50%{transform: rotate(180deg)}
                75%{transform: rotate(270deg)}
                100%{transform: rotate(360deg)}
            }

#goc > h4{
    text-align: center;
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
    position: absolute;
    top: 12%;
    left: 20%;
}

/*<!-- *************************** Những sản phẩm được ưa thích ***************************** -->*/
#product{
    width: 100%;
    height: 860px;
    background-image: url(/img/bg_main_slider.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#sp{
    width: 100%;
    height: 100px;
    position: relative;
    left: 0;
    top: 0;

}

#sp > h2{
    color: #443b32;
    font-size: 50px;
    font-family: 'Permanent Marker', cursive;
    position: absolute;
    top : 30%;
    left: 21%;

}

.pro{
    width: 20%;
    height: 250px;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    display: inline-block;
    margin-left: 130px;
    margin-top: 100px;
}


.pro > img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


.mask{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top : 0;
    left: 0;
    transition: all 0.5s linear;
    transition-timing-function: linear;
}
.mask > h3{
    text-align: center;
    font-family: cursive;
    margin-top: 10px;
    font-size: 20px;
    color: white;
    opacity: 0;
}


.pro:hover .mask{
   margin-top: 200px;
    transition: 2s;
}


.pro:hover .mask > h3{
   margin-top: 10px;
    transition: 3s;
    opacity: 1;
}


/* <!-- ****************************** Các Chi Nhánh ******************************** -->*/

#branch{
    width: 100%;
    height: 850px;
    margin-top: 5px;
}

#left_branch{
    width: 49.5%;
    height: 100%;
    background-image: url('/img/bg_main_slider.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
}

#left_branch > h3{
    color: #443b32;
    font-family: 'Nosifer', cursive;
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
}

.cn{
    width: 70%;
    height: 200px;
    margin-top: 50px;
    margin-left: 80px;
   border-bottom: 1px solid black;
}

.cn > img{
    width: 40%;
    float: left;
    cursor: pointer;
}

.cn > h3, .cn > p{
    width: 350px;
    margin-left: 200px;
}

#right_details{
    width: 50%;
    height: 100%;
/*    border: 2px solid black;*/
    background-image: url('/img/header_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
}

#TpHCM{
    width: 100%;
    height: 100%;
}

#TPHCM_left{
    width: 50%;
    height: 100%;
    float: left;
}

#TPHCM_left > ul {
    width: 100%;
    height: 100%;
    text-align: center;
    border-right: 2px solid black;
}

#TPHCM_left ul li{
/*    border-bottom: 1px solid black;*/
    height: 170px;
    padding-top: 20px;
    text-align: center;
    list-style-type: none;
    margin-left: 10px;
}

#TPHCM_left ul li img{
    float: left;
}


/**/

#TPHCM_right{
    width: 50%;
    height: 100%;
    float: right;
}

#TPHCM_right > ul {
    width: 100%;
    height: 100%;
    text-align: center;
}

#TPHCM_right ul li{
/*    border-bottom: 1px solid black;*/
    height: 170px;
    padding-top: 20px;
    text-align: center;
    list-style-type: none;
    margin-left: 10px;
}

#TPHCM_right ul li img{
    float: left;
}


/*Đà Nẵng*/
#Da-Nang{
    width: 100%;
    opacity: 0;
}

#ĐN_left{
    position: relative;
    top: -850px;
    left: 0;
/*    opacity: 0;*/
    width: 49.5%;
    height: 100%;
    float: left;
}

#ĐN_left > ul {
    width: 100%;
    height: 100%;
    text-align: center;
    border-right: 2px solid black;
}

#ĐN_left ul li{
/*    border-bottom: 1px solid black;*/
    height: 170px;
    padding-top: 20px;
    text-align: center;
    list-style-type: none;
    margin-left: 15px;
}

#ĐN_left ul li img{
    float: left;
}


/**/
#ĐN_right{
    position: relative;
    top: -850px;
    left: 0;
/*    opacity: 0;*/
    width: 50%;
    height: 100%;
    float: left;
}

#ĐN_right > ul {
    width: 100%;
    height: 100%;
    text-align: center;
}

#ĐN_right ul li{
/*    border-bottom: 1px solid black;*/
    height: 170px;
    padding-top: 20px;
    text-align: center;
    list-style-type: none;
    margin-left: 10px;
}

#ĐN_right ul li img{
    float: left;
}


/*Hà Nội*/
#Ha-Noi{
    width: 100%;
    opacity: 0;
}

#HN_left{
    position: relative;
    top: -1190px;
    left: 0;
/*    opacity: 0;*/
    width: 49.5%;
    height: 100%;
    float: right;
}

#HN_left > ul {
    width: 100%;
    height: 100%;
    text-align: center;
}

#HN_left ul li{
/*    border-bottom: 1px solid black;*/
    height: 170px;
    padding-top: 20px;
    text-align: center;
    list-style-type: none;
    margin-left: 15px;
}

#HN_left ul li img{
    float: left;
}


/**/
#HN_right{
    position: relative;
    top: -1360px;
    left: 0;
    width: 50%;
    height: 100%;
    float: left;
}

#HN_right > ul {
    width: 100%;
    height: 100%;
    text-align: center;
    border-right: 2px solid black;
}

#HN_right ul li{
    height: 170px;
    padding-top: 20px;
    text-align: center;
    list-style-type: none;
    margin-left: 10px;
}

#HN_right ul li img{
    float: left;
}


#clear{
    clear: both;
}

#mess{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-align: center;
    z-index: 99;
}

#mess > img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
}

/*============================================= Footer ============================================*/
#footer{
    width: 100%;
    height: 600px;
    background-image: url('/img/footer-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
}

#timework{
    width: 25%;
    height: 400px;
    padding-top: 50px;
    margin-left: 100px;
    border-right: 1px solid white;
    float: left
}

#timework > ul {
    width: 100%;
    height: 100%;
    color: white;
}

#timework > h3{
    margin-top: -50px;
    color: white;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: 'Taviraj', serif;
}

#timework ul li {
    font-family: 'Taviraj', serif;
    padding-top: 20px;
    font-size: 15px;
    list-style-type: none;
}


#contact{
     width: 25%;
    height: 400px;
    padding-top: 50px;
    margin-left: 100px;
    border-right: 1px solid white;
    float: left;
}

#contact > h3{
    margin-top: -50px;
    color: white;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: 'Taviraj', serif;
}

#contact > ul {
    width: 100%;
    height: 100%;
    color: white;
}

#contact ul li {
    font-family: 'Taviraj', serif;
    padding-top: 20px;
    font-size: 15px;
    list-style-type: none;
}


#follow{
     width: 25%;
    height: 400px;
    padding-top: 50px;
    margin-left: 50px;
    float: left;
}

#follow > h3{
    margin-top: -50px;
    color: white;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: 'Taviraj', serif;
}


#face{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    top: 10px;
    left: 10px;
    text-align: center;
    display: inline-block;
    transition: all 2.0s ease-in-out;
}


#face:hover{
    transform: rotateZ(360deg);
}



#face a img{
    width: 120%;
    height: 120%;
    border-radius: 50%;
    position: absolute;
    top: -7px;
    left: -7px;
}


#zalo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    top: 10px;
    left: 10px;
    text-align: center;
    display: inline-block;
    margin-left: 40px;
    transition: all 2.0s linear;
}


#zalo:hover{
   transform: rotateZ(360deg);
}


#zalo a img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0px;
}


#youtube{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    top: 10px;
    left: 10px;
    text-align: center;
    z-index: 99;
    display: inline-block;
    margin-left: 40px;
    transition: all 2.0s ease;
}


#youtube:hover{
    transform: rotateZ(360deg);
}


#youtube a img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0px;
}


#twitter{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    top: 10px;
    left: 10px;
    text-align: center;
    z-index: 99;
    display: inline-block;
    margin-top: 40px;
    transition: all 2.0s ease-in;
}

#twitter:hover{
    transform: rotateZ(360deg);
}

#twitter a img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0px;
}


#instagram{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    top: 10px;
    left: 10px;
    text-align: center;
    z-index: 99;
    display: inline-block;
    margin-left: 40px;
    transition: all 2.0s ease-in-out;
}


#instagram:hover{
    transform: rotateZ(360deg);
}


#instagram a img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0px;
}



#skype{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    top: 10px;
    left: 10px;
    text-align: center;
    z-index: 99;
    display: inline-block;
    margin-left: 40px;
    transition: all 2.0s linear;
}


#skype:hover{
    transform: rotateZ(360deg);
}


#skype a img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0px;
}


/********************* Embedded form ******************/
#form {
    width: 30%;
    height: auto;
    line-height: 100px;
    z-index: 999;
    float: right;
    margin-top: -100px;
    margin-bottom: 200px;
   
}